extends layout

block content
    h1 #{title}

    #login.box
        label JID
        input(type='text', id='jid', value='guillem@myatom.org')

        label Password
        input(type='password', id='pass', value='pwd1234')
        
        input(type='button', id='connect', value='connect')
        
        label Priority
        input(type='text', id='priority', value='1')
        input(type='button', id='presence', value='Send Presence')

    #pubsub.box
        label Node
        input(type='text', id='node-name', value='test')
        input(type='button', id='create-node', value='Create')
        input(type='button', id='delete-node', value='Delete')
        input(type='button', id='get-node-form', value='Details')
        input(type='button', id='subscribe-node', value='Subscribe')
        input(type='button', id='list-subscriptions-node', value='Subscriptions')
        label Event
        input(type='text', id='node-event', value='Hello World!')
        input(type='button', id='publish-node', value='Publish')
        #events.messages
        
    #message.box
        label To
        input(type='text', id='msg-to', value='admin@myatom.org')
        input(type='text', id='msg-txt', value='Hello')
        input(type='button', id='msg-send', value='Send')
        #messages.messages

    #muc.box
        label Room
        input(type='text', id='muc-name', value='muc1')
        input(type='button', id='join-muc', value='Join')
        // input(type='button', id='delete-muc', value='Delete')
        // input(type='button', id='list-subscriptions-muc', value='Subscriptions')
        label Message
        input(type='text', id='muc-msg', value='Hello All!')
        input(type='button', id='send-muc', value='Send')
        #groupchat.messages

    #Miscellanea.box
        input(type='button', id='clear-log', value='Clear Log')

    input(type='button', id='do', value='do')
    
    #log