doctype html
html
  head
    title= title
    script(src='/js/lib/jquery-2.1.4.min.js')
    script(src='/js/lib/strophe.min.js')
    script(src='/js/basic.js')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
