body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: darkslategray;*/
}

a {
  color: #00B7FF;
}

input {
    margin: 4px;
}

#muc,
#pubsub {
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
}

#muc #groupchat {
    border: 1px solid grey;
    padding: 0 0 0 5px;
    max-height: 50px;
    overflow-y: scroll;
    font-size: smaller;
}

#groupchat p {
    margin: 2px 0px;
}

#groupchat p .from {
    color: grey;
}

#groupchat .delayed {
    font-style: italic;
    color: slateblue;
}

#log {
    font-family: "Courier New", Courier, monospace;
    font-size: smaller;
    color: grey;
    overflow: scroll;
    height: 350px;
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
}

#log .received {
    color: indianred;
}

#log .sent {
    color: darkolivegreen;
}
